# Игнорируем виртуальные окружения
*.venv
.venv
env/
ENV/

# Игнорируем файлы системы
.DS_Store
Thumbs.db

# Игнорируем скрытые файлы и папки
.git
.gitignore

# Игнорируем файлы конфигураций IDE
.idea/
.vscode/

# Игнорируем временные файлы и логи
*.log
*.bak
*.swp
*.tmp

# Игнорируем файлы Python- и Node.js-зависимостей
*.pyc
*.pyo
__pycache__/
node_modules/

# Игнорируем lock-файлы, если вы не хотите включать их в образ
poetry.lock
yarn.lock
